<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AtnaApi" version="1.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="RestSrvr" version="1.14.0" targetFramework="net45" />
  <package id="SanteDB.Core.Api" version="1.14.0" targetFramework="net45" />
  <package id="SanteDB.Core.Model" version="1.14.0" targetFramework="net45" />
  <package id="SanteDB.Core.Model.RISI" version="1.14.0" targetFramework="net45" />
  <package id="SanteDB.OrmLite" version="1.14.0" targetFramework="net45" />
  <package id="SanteDB.Rest.Common" version="1.14.0" targetFramework="net45" />
  <package id="SanteDB.Server.Plugin" version="1.13.0" targetFramework="net45" />
  <package id="SharpCompress" version="0.18.2" targetFramework="net45" />
</packages>