<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet"
    oc-lazy-load="{ name: 'SanteGuardEmrObjectAccessController', files: ['/org.santedb.sg/controllers/widgets/sg-emr.js'] }">
    <sdb:widget name="org.santedb.sg.emr.patient" type="Panel" context="org.santedb.emr.patient.dashboard"
        order="10000">
        <sdb:demand>1.3.6.1.4.1.33349.3.1.5.9.2.0.11</sdb:demand>
        <sdb:icon>fas fa-history</sdb:icon>
        <sdb:description>SanteGaurd Patient Profile Access</sdb:description>
    </sdb:widget>
    <div ng-controller="SanteGuardEmrObjectAccessController">

        <div class="card m-0" ng-class="{ 'border-info' : hist.action == 'Read' , 'border-danger' : hist.action == 'Delete', 'border-success' : hist.action == 'Create' || hist.action == 'Update' }" ng-repeat="hist in history">
            <div class="card-body">
                <p class="card-text"><strong class="text-info"><i class="fas fa-user"></i> {{ hist.actor[0].uname }}</strong> {{ 'ui.sg.action.' + hist.action | i18n }} {{ 'ui.sg.on' | i18n }} <i class="fas fa-clock"></i> {{ hist.timestamp | extDate: 'F' }}</p>
            </div>
        </div>

    </div>
</div>