<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet">
    <sdb:widget name="org.santedb.sg.admin.auditStat" headerClass="bg-light"  type="Panel" size="Medium" order="1000" context="org.santedb.dg.objectAudit">
        <sdb:icon>fas fa-chart-pie</sdb:icon>
        <sdb:description>SanteGaurd Object Statistics</sdb:description>
        <sdb:guard>!scopedObject.tag || scopedObject.tag["$upstream"] != "true"</sdb:guard>

    </sdb:widget>
    
    <div class="alert alert-info">
        <i class="fas fa-info-circle"></i> {{ 'org.santedb.sg.admin.auditStat.help' | i18n }}
    </div>

    <div class="row" ng-if="!scopedObject">
        <div class="col">
            <p class="m-auto"><i class="fas fa-circle-notch fa-spin"></i> {{ 'ui.wait' | i18n }}</p>
        </div>
    </div>
    <div ng-if="scopedObject">
    <div class="container-fluid" ng-show="scopedObject.id">
        <div class="row">
            <div class="col-6">
                <report-view id="'org.santedb.bi.core.reports.audit.object'" parameters="{ 'object-id' : scopedObject.id }" view="'user'" legend="true" />
            </div>
            <div class="col-6">
                <report-view id="'org.santedb.bi.core.reports.audit.object'" parameters="{ 'object-id' : scopedObject.id }" view="'time'"  legend="true" />
            </div>
        </div>
    </div>
    </div>
</div>