<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet" ng-controller="SanteGuardObjectAccessController">
    <sdb:widget name="org.santedb.sg.admin.user.pattern" headerClass="alert-warning"  
    type="Panel" size="Small" order="100" context="org.santedb.securityUser.admin.security">
        <sdb:icon>fas fa-shield-alt</sdb:icon>
        <sdb:description>Access Patterns</sdb:description>
        <sdb:guard>!scopedObject.tag || scopedObject.tag["$upstream"] != "true"</sdb:guard>

    </sdb:widget>

    <div ng-if="!scopedObject">
            <i class="fas fa-circle-notch fa-spin"></i> {{ 'ui.wait' | i18n }}
    </div>
    <div ng-if="scopedObject">
        <div ng-bind-html="'org.santedb.sg.admin.user.pattern.description' | i18n: { user :  scopedObject.entity.userName }"></div>
        <report-view report-id="'org.santedb.bi.core.reports.audit.actorDate'" parameters="{ 'actor-id' : scopedObject.entity.userName }" view="'by_day'" />
    </div>
</div>